use flake

# Set plugin path to our build output
export VERANDAH_PLUGIN_PATH="/home/swn/.cache/cargo/sw1nn/cargo_target/debug"

# Add the control binary to PATH
PATH_add "/home/swn/.cache/cargo/sw1nn/cargo_target/debug"

# Useful for debugging
export RUST_BACKTRACE=1
